__pycache__/
.#*
'*
.*
dist/
build/
*.egg/
*-info
!.readthedocs.yaml
!.pre-commit-config.yaml
!.flake8
!.github
misc/
data/*/raw
data/*/curated
!./data/*/{landmarks,references}
htmlcov/
image-processing/
docs/rtd-requirements.txt
make-rtd-reqs.sh
